<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="static/styles.css" rel="stylesheet" type="text/css" media="all">
    <title>CCUT WRAPPER</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
  </head>

  <body>

  <header>
      <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="/get_canonical_json">[String] Parse</a></li>
              <li><a href="/trans_form">[String] Convert</a></li>
              <li><a href="/process_tables">[Table] Extract</a></li>
              <li><a href="/annotate">[Table] Annotate</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container center">
      <section>
        {% block content %}{% endblock %}
      </section>
      <!--
      <footer class="footer">
        <div class="inner">
          <small><a href="https://github.com/basels/ccut/">CCUT</a> is by <a href="https://github.com/basels/">@basels</a>.</small>
        </div>
      </footer>
      -->
    </div>
    
  </body>
</html>
